---
import Layout from '../../layouts/Layout.astro';
import { FAKE_JOBS } from '../../data/fakeData';
import { JobCard } from '../../components/JobCard';
---

<Layout title="JobHub - Ofertas de Empleo">
  <div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-6">Ofertas de Empleo</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {FAKE_JOBS.map((job) => (
        <JobCard job={job} />
      ))}
    </div>
  </div>
</Layout>